.button{  
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  border: 0;
  padding: 0 32px;  

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #835afd;
  color: #E6E6E6;        

  cursor: pointer;

  transition: 0.3s ease-in-out;

  &:not(:disabled):hover{
    filter: brightness(0.9);
  }

  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.outlined{    
    background: #FFF;
    border: 1px solid #835afd;
    color: #835afd;
  }

  > img{
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }
}